*{
    font-size: 30px;
}

body {
    font-size: 18px;
}
h1 {
    font-size: 32px;
}

.meses {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 1000px;
    /*width: 120px;*/
}

.titulo {
    width: 100%;
}

.topo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;    
}

.resultados {
    width: 1200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cores_est {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cor {
    border: 1px solid black;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.estacoes {
    width: 1500px;
    margin: 10px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}


.estacao {
    padding-top: 100px;
    display: none;
}

.estacao img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}